.reviewContainer {
  display: flex;
  flex-direction: column;
}

.reviewInputsGroup {
  label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  input {
    font-size: 1rem;
  }
}
