.dishContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.dish {
  width: 50%;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dishTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishSubTitle {
  width: 70%;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 600;
  // border: 1px solid red;
}

.outer {
  margin-left: 20px;
}
