@use '../../styles.scss';

.root {
  button:first-child {
    margin-right: 5px;
  }
  button:last-child {
    margin-left: 5px;
  }
}

.primary {
  @include styles.btn;
  background-color: #0a5ed7;
  color: #fff;
}

.secondary {
  @include styles.btn;
  background-color: #6a757d;
  color: #fff;
}
