@use '../../styles.scss';

.root {
  height: 50px;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnHeader {
  @include styles.btn;
  background-color: #009153;
  color: #fff;
  margin: 0 0 0 30px;
}
