.root {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(251, 219, 171);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
